**/lab-report-3.aux
**/lab-report-3.fdb_latexmk
**/lab-report-3.fls
**/lab-report-3.log
**/lab-report-3.pdf
**/lab-report-3.synctex.gz
**/lab-report-3.xdv
lab-report-3-NEW.aux
lab-report-3-NEW.bbl
lab-report-3-NEW.blg
lab-report-3-NEW.fdb_latexmk
lab-report-3-NEW.fls
lab-report-3-NEW.log
lab-report-3-NEW.pdf
lab-report-3-NEW.synctex.gz
lab-report-3-NEW.xdv
